


li,p{
    font-family: $font-a;
}

button{
    background-color: $colorbutton;
}

h2{
    @include titulosh2
}


li{
    font-family: $font-a;
    padding-left: 10px;
    margin: 16px 0;
}

/* Seccion pages */


.alimentos
{
    @include contenedor2;

    /* Filtro */

        .categoria{
            display: grid;
            grid-template-columns: repeat(2,2fr);
            gap: 20px;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            cursor: pointer;
        
            

            .filtro { 
                display: flex;             
                justify-content: center;
                background-color: rgb(248, 247, 247);
                border: none;
                padding: 8px 4px;
                border-radius: 10px;
                width:100%;
                
                i{
                    margin-right: 5px;
                }
                p{
                    font-size: 1rem;
                    display: inline-block;
                    color: #000000;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
            }
    
            .contenido {
                display: none;
                border-radius: 20px 20px;
                background-color:rgb(248, 247, 247);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 999;   
                transition: all 0.9s;

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                }
        
                a{
                    color: #2e2d2d;
                }
                .cerrar{
                    background-color: $seccionscolor;
                    color: #fff;
                    width: 100%;
                    i{
                        
                        p{
                            display: inline-block; 
                        }             
                    }
                }
                .todos{
                    display: block;
                    width: 100%;
                    background-color: $seccionscolor;
                    color: #fff;
                    text-align: center;
                    padding: 3px;
                    
                    cursor: pointer;
                }
            }
            
            .contenido.show {
                display: block;
                left:0;
                
            }

            .orden {
                display: flex;               
                justify-content: center;
                background-color: rgb(248, 247, 247);
                border: none;
                border-radius: 10px;
                width: 100%;
                padding: 8px 4px;
                
                p{
                    font-size: 1rem;
                    display: inline-block;
                    color: #000000;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
            
            .contenido2{
                display: none;
                
            }
            
            .orden.active div {
                display: block;
                padding: 5px;
            }
        }


    .productos{
        @include grid;
        height: auto;

        .producto{
            border-radius: 10px;
            background-color: #eeeded;
            flex-direction: column;
            text-align: center;
            &:hover{
                box-shadow: 0px 10px 20px rgba(0,0,0,0.60);
                transform:scale(1);
                transition: .6s;
                }

            .imagen{

                img{
                    width: 100%;
                    object-fit: contain;
                    border-radius: 10px 10px 0 ;
                }
            }
            h3 {
                font-size: 1.3rem;
                margin: 10px 0px;
                color: #000000;
                line-height: 2;
                text-align: center;
            }
            .descripcion {
                color: #242424;
                margin: 7px;
            }

            .precio {
                font-size: 1rem;
                font-weight: bold;
                display: inline-block;
                padding: 4px 10px;
                color: #000000;
                margin-top: 4px;
            }
            .btnAgregar,
            .btnQuitar {
            color: #ebe8e8;
            background-color: $colorbutton;
            text-decoration: none;
            display: inline-block;
            margin: 10px 0;
            padding: 6px ;
            border-radius: 12px;
            &:hover{
                transition: .6s;
                background-color: $colorderechos;
                }
            }
        }
    }
}

.indumentaria{
    @include contenedor2;

    .categoria{
        @include categorias;
    }

    .ropa{
        @include grid;
        height: auto;

        .ropas{
            @include innerHtml;
        }
        
    }
}

.accesorios{

    @include contenedor2;

    .categoria{
        @include categorias;
    }

    .acce{
        @include grid;

        .acces{
            @include innerHtml
        }
    }

}


/* Version escritorio*/ 

@media only screen and (min-width:800px){
    .alimentos
    {
        h2{
            @include titulosh2b
        }
        @include contenedor;

        .categoria{
            margin: 20px;
            justify-content: left;
        }
        .productos{
            @include grid2;

            .imagen{
                overflow: hidden;
                
                img{
                    max-width: 100%;
                    object-fit: cover;
                }
            }
            h3{
                display: block;
                color: $seccionscolor;
                margin: 20px 6px;
                letter-spacing: 1px;
                font-family: $general;
            }
            
            li:hover{
                transition: .3s;
                color:rgb(234, 0, 0);
                cursor: pointer;
            }
            .precio {
                font-size: 90px;
            }
        }
    }

    .indumentaria{
            h2{
                @include titulosh2b
            }
            @include contenedor;
    
            .categoria{
                .contenido{
                    display:grid;
                    left:-340px;
                }
            }
            .ropa{
                @include grid2;
    
                .imagen{
                    overflow: hidden;
                    img{
                        max-width: 100%;
                        object-fit: cover;
                        
                    }
                }
                h3{
                    display: block;
                    color: $seccionscolor;
                    margin: 20px 6px;
                    letter-spacing: 1px;
                    font-family: $general;
                }
                
                li:hover{
                    transition: .3s;
                    color:rgb(234, 0, 0);
                    cursor: pointer;
                }
                .precio {
                    font-size: 90px;
                }
            }
    }
}

@media only screen and (max-width:330px){

    .alimentos,
    .accesorios,
    .indumentaria{
        h2{
            margin-top: 70px;
            padding: 0;
        }

        .categoria{
            .despliegue{
                width: 200px;
            }
        }
        
        .productos,
        .ropa{
            grid-template-columns: repeat(1,1fr);
        }
    }
}